@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #1A2F23;
  color: #F5E6CA;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #1A2F23;
}
::-webkit-scrollbar-thumb {
  background: #3a5240;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #CCFF00;
}

/* Custom Utilities that might be needed */
.stroke-text {
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 1px;
}

.no-scrollbar::-webkit-scrollbar {
    display: none;
}
.no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.custom-marker {
    background: transparent;
}